:root {
  --primary-light-color: #cbc5f0;
  --primary-main-color: #6a5acd;
  --warning-color: rgb(240, 173, 78);
  --success-color: #22bb33;
  --error-color: #bb2124;
  --grey-light-color: rgba(128, 128, 128, 0.397);
  --grey-main-color: grey;
  --grey-dark-color: rgb(61, 61, 61);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}
